<!DOCTYPE html>
<html>
<body>
<div class="container" style="width:100%;">
  <div class="email" style="max-width: 600px; background-color: white; display: block; margin: 10px auto;">
    <img src="https://gallery.mailchimp.com/b6927a9ba9e73b00250360b96/images/934cc70c-ce7b-4b50-81b6-1e48b7708c63.png" style="max-width: 600px;">
    <div class="invite" style="width:100%; max-width: 600px; display: block; margin: 10px auto; font-size:1.2em;">

            <% if @greeting.present? %>
          <p><%= @greeting %></p>
            <% else %>
          <p style="display: none;" src="#"></p>
          <% end %>

          <p><%= @text %></p>

            <% if @text2.present? %>
            <p><%= @text2 %></p>
          <% else %>
          <p style="display: none;" src="#"></p>
            <% end %>

          <p>
            You can <a style="font-weight:bold; color:#39bced;" href="<%= @link %>">click here</a> to sign up, and you'll have to let me know what you think.
          </p>

        <p>Hope you subscribe and enjoy the Primers!</p>

            <% if @image.present? %>
            <img src="<%= @image %>" style="display:block;margin: 20px auto; padding: 0px 0px 10px 0px; max-width: 600px;">
            <% else %>
            <img src="#" style="display: none;">
            <% end %>





    </div>


  </div>
</div>

</body>

<html>